.seat{
    
    width: 100%;
    overflow: hidden;
}

.seat .title{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.seat .title div{
    display: inline-block;
    margin:10px;
}
.seat .title div i{
    font-size: 25px;
    vertical-align: middle;
}

.seat .title div span{
    color:#666;
    vertical-align: middle;
}

.seat .seatSection{
    margin: 0 auto;
    box-sizing: border-box;
    width: 400px;
    height: 400px;
    overflow-x: auto;
    overflow-y: auto;
}

.seat .seatSection .row{
    box-sizing: border-box;
    width: 100%;
    display: flex;
}
.seat .seatSection .row .se{
    flex: 1;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:8px;
    width: 40px;
    height: 40px;
}

.seat .seatSection .row .se i{
    font-size: 25px;
    cursor: pointer;
    font-weight: bold;
    
}
.seat .seatSection .row .se span{
    color: #bbb;
    display: inline-block;
    text-align: center;
   width: 40px;
    height: 100%;
}

/*可选座位*/
.seat_optional{
    color: #ddd;
}
/* 已选座位 */
.seat_selected{
    color:#00bb00!important ;
}
/* 已售座位 */
.seat_sold{
    color:#F56C6C!important;
}
