.seat{
    /*width: 100%;*/
    display: inline-block;
    overflow: hidden;
    margin-right: 10px;
}
.seat .title{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.seat .title div{
    display: inline-block;
    margin:10px;
}
.seat .title div i{
    font-size: 25px;
    vertical-align: middle;
}

.seat .title div span{
    color:#666;
    vertical-align: middle;
}

.seat .seatSection{
    margin: 0 auto;
    box-sizing: border-box;
    width: 400px;
    height: 400px;
    overflow-x: auto;
    overflow-y: auto;
}

.seat .seatSection .row{
    box-sizing: border-box;
    width: 100%;
    display: flex;
}
.seat .seatSection .row .se{
    flex: 1;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:8px;
    width: 40px;
    height: 40px;
}

.seat .seatSection .row .se i{
    font-size: 25px;
    cursor: pointer;
    font-weight: bold;
    
}
.seat .seatSection .row .se span{
    color: #bbb;
    display: inline-block;
    text-align: center;
   width: 40px;
    height: 100%;
}

/*可选座位*/
.seat_optional{
    color: #ddd;
}
/* 已选座位 */
.seat_selected{
    color:#00bb00!important ;
}
/* 已售座位 */
.seat_sold{
    color:#F56C6C!important;
}
#seat_selection_dialog .modal-dialog {
    width: 730px;
}
.toBuy{
    display: inline-block;
    vertical-align: top;
}
.toBuy .wra_cont_left,.toBuy .wra_cont_right{
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}
.toBuy h3{
    margin-top: 0;
}
#seat_selection_dialog .modal-body .ticket_information {
    border-bottom: #999 dotted 2px;
}
#seat_selection_dialog .modal-body .ticket_information div{
    margin: 10px 5px 18px;
}

#seat_selection_dialog .modal-body .ticket_information div .ti_title{
    font-size: 14px;
    color: #999;
}
#seat_selection_dialog .modal-body .ticket_information div .ti_val{
    font-size:14px;
    color: #151515;
    margin-left: 2px;
}
input.btn_toBuy{
    border: 1px solid #f03d37;
    background-color: #f03d37;
    color: #fff;
    width: 280px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    outline: none;
}
input.btn_toBuy:hover{
    opacity: 0.8;
    transition: .3s;
}


.seatArr_seatItem{
    margin-top: 6px;
    margin-right: 10px;
    width: 70px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    color: #f03d37;
    border: 1px solid #f03d37;
    position: relative;
}

.seatArr_seatItem_close{
    cursor: pointer;
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 10px;
    line-height: 10px;
    color: #000;
    background-color: #ddd;
    top: -5px;
    right: -5px;
    border-radius: 5px;
    overflow: hidden;
}
